{% extends 'base.html' %}

{% block content %}

{% if current_user %}
<h1>Welcome, {{ current_user['first_name'] }}!</h1>

<section class="controls">
    <form action="/sessions/delete" method="POST">
        <button>Log out</button>
    </form>

    <a href="/pets/new">Add Pet</a>
</section>

<section class="pets">
    <h2>Pets</h2>
    {% for pet in pets %}
    <section class="pet">
        <header>
            <ul>
                <li>{{ pet.pets_name }}</li>
                <li>{{ pet.favourite_food }}</li>
                <li>{{ pet.favourite_music }}</li>
                <li>{{ pet.favourite_toys }}</li>
                <li><img src="{{pet.image_url}}" alt="{{ pet.name }}"></li>
            </ul>

            <a href="pets/{{ user_id }}/edit">Edit</a>

            <form action="/pets/{{ user_id }}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </header>
    </section>
    <h3>Comments</h3>
    <form action="/pets/{{ pet_profile_id }}/comments" method="POST">
        <input type="hidden" name="pet_profile_id" value="{{ pet_profile_id }}">
        <label>Comment:</label>
        <textarea name="comment_text" required></textarea><br>
        <input type="submit" value="Post Comment">
    </form>
    {% for comment in comments %}
        <div>
            <p>{{ comment.comment }}</p>
        </div>
    {% endfor %}
    {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}