{% extends 'base.html' %}

{% block content %}
<h1>Add Pets</h1>
<form action="/pets" method="POST">
  <label for="">Name:</label>
  <input type="text" name="pet_id">

  <label for="">Favourite Food: </label>
  <input type="text" name="favourite_food">

  <label for="">Favourite Music: </label>
  <input type="text" name="favourite_music">

  <label for="">Favourite Toys: </label>
  <input type="text" name="favourite_toys">

  <label for="">Image URL:</label>
  <input type="text" name="image_url">
  <button>Add pet</button>
</form>
{% endblock %}